aiofiles==24.1.0
aiomysql==0.3.2
apscheduler==3.10.4
captcha==0.7.1
fastapi==0.120.3
gunicorn==23.0.0
loguru==0.7.2
lxml==6.0.2
minio==7.2.18
openpyxl==3.1.5
pydantic==2.12.3
PyMySQL==1.1.2
pypinyin==0.55.0
python-multipart==0.0.20
snowflake-id==1.0.2
SQLAlchemy==2.0.44
uvicorn==0.38.0